
{% extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'facebook/css/style.css' %}">

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <h3>Ad copies</h3>
          
        <div class="container">
                {% if my_adcopies %}
                <div class="row bg-light mb-2 border addNewAccount" id="hide_section">
                    <div class="col-md-12">
                        <h5 class="ml-2">Your Ad Copies</h5>

                        <div>
                        
                                
                            <div>
                            
                                {% for ad in my_adcopies  %}
                                <div class="gallery2">
                                    <div class="desc2">
                                        <a href="{% url 'fb:delete_adcopies' ad.id %}" class="text-danger float-right">Delete</a>
                                        {% if ad.used %}<span class="text-success">Published</span>{% else %}<span class="text-warning">Active</span>{% endif %}
                                        <a href="{% url 'fb:edit_adcopies' ad.id %}" class="text-secondary float-left">Edite</a>
                                    </div>
                                    <div class="p-3" style="overflow-wrap: break-word;"><a href="{{ad.link}}">{{ad.link}}</a></div>
                                    {% if ad.image %}
                                    <div class="image_path p-1" style="overflow-wrap: break-word;">{{img.image}}</div>
                                    {% else %}
                                    <img src="http://via.placeholder.com/600x400" alt="" width="600" height="400" >
                                    {% endif %}
                                    <div class="desc2 p-2"><span class="text-warning">description</span> : {{ad.descriprtion}} </div>
                                </div>
                                {% endfor %}
            
                            </div>
         
                            <div id="addaccoutform">
            
                            </div>
                       </div>
                    </div>
        
                
                </div>
                {% endif %}

            <div class="row bg-light mb-2 border addNewAccount" id="hide_section">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                <div>
                    <h5>Add new ad copy</h5>
                    <form method='POST' enctype="multipart/form-data">{% csrf_token %}
                        <div class="des">
                            <label for="discription">Discription:</label><br>
                            <textarea class="w-100" maxlength="200" placeholder="put description here" name="discription" rows="4" ></textarea>
                        </div>
                        
                        <div class="link">
                            <label for="link">Link:</label><br>
                            <input class="w-100" type="text" name="link" placeholder="put link here" id="link">
                        </div>

                        <div class="image mt-3">
                            <label for="img" >Choose Picture</label>
                            <input class="w-100" type="text" name="img" placeholder="put image path here" id="img">
                            
                        </div>
                        <div class="mt-3 niches">
                            <label for="niche">Choose a niche:</label>
                            <select name="niche" id="niche" style="height:39px; width: 100%;" required>
                                <option value="" disabled selected hidden>Please Choose...</option>
                                {% for niche in niches %}
                                <option value="{{niche}}">{{niche}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      
                        <input type="submit" value="Save" class=" btn btn-success mt-3" >

                    </form>
                    
                </div>
                <div id="addaccoutform">

                </div>
               </div>
        </div>

          
    </div>
</div>
{% endblock %}