
{% extends 'dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'facebook/css/style.css' %}">

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <h3>Random adCopy To minipelate</h3>
        <div class="alert alert-info" role="alert" >
            <p>
                <strong>Note:</strong>this galaery willl be used in groups that requied admin approvment to POST,
                so we will publish a post on those groups using random images and adcopies which dont include any sense of ads,
                and after the post get approved we will change it with you real ad copy <mark>so make sure to upload images and relate it with is propre nich</mark>
            </p>
        </div>

        <div class="container">
                  
            <div class="row bg-light mb-2 border addNewAccount" id="hide_section">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4>Add image to your galaery</h4>
                    <form method='POST' enctype="multipart/form-data">{% csrf_token %}
                        <div class="image">
                            <label for="img" class="btn btn-outline-secondary mt-3">Choose Picture</label>
                            <input type="file" name="img" id="img" accept="image/*" style="display : none">
                        </div>
                    
                        <div class="mt-3 niches">
                            <label for="niche">Choose a niche:</label>
                            <select name="niche" id="niche" style="height:39px; width: 100%;" required>
                                <option value="" disabled selected hidden>Please Choose...</option>
                                {% for niche in niches %}
                                <option value="{{niche}}">{{niche}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="upload" class=" btn btn-success mt-3" >

                    </form>
                    
                </div>
              
               
            </div>

         

            {% include 'facebook/randomeCopyWrite.html' %}
            {% if images %}
            <div class="row bg-light mb-2 border addNewAccount" id="hide_section">
                <h4 class="ml-2">Your Images</h4>
                <div class="col-md-12">
                    <div> 
                        <div>
                            {% for img in images  %}
                            <div class="gallery">
                                    <div class="desc"><a href="{% url 'fb:delete_img' img.id %}" class="text-danger">Delete</a></div>
                                    <img src="{{img.image.url}}" alt="{{img.nich}}" width="600" height="400" >
                                    <div class="desc text-warning">Niche : {{img.nich}}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="addaccoutform">
                        </div>
                    </div> 
               </div>
            </div>
            {% endif %}

            {% if copy_write %}
            <div class="row bg-light mb-2 border addNewAccount" id="hide_section">
                <h4 class="ml-2">Your Test Copy-writes</h4>
                <div class="col-md-12">
                    <div> 
                        <div>
                            {% for copy in copy_write  %}
                            <div class="gallery">
                                    <div class="desc"><a href="{% url 'fb:delete_copy' copy.id  %}" class="text-danger">Delete</a></div>
                                    <div class="desc text-secondary"> {{copy.description}}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="addaccoutform">
                        </div>
                    </div> 
               </div>
            </div>
            {% endif %}
        
        </div>
    </div>
</div>

{% endblock %}