{% extends "dashboard/index.html" %}
{% block title %}Pay using PayPal{% endblock %}
{% block content %}
<div class="alert alert-success" role="alert">
    <p>thanks for your trust, your payment is now processing </p>
</div>

<p class="m-5 p-5"> you will get a confirmation payment message in the next 
    30 to 60 minutes and then you can use your account - ( if you did not find 
    the message in your inbox after that time then please check your spam folder, 
    if you didn't find it please make sure to contact us: contact.fbpublisher@gmail.com</p>
{% endblock %}